<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <!-- (click)="openChat(user.key)" -->
    <!-- [routerLink] = "'/chat/' + user.key" -->
  
    <ion-item-sliding
      *ngFor="let user of (users | async)"
      [routerLink] = "'/chat/' + user.key"
      >
      <ion-item *ngIf="user.uid !== uid">
        <ion-thumbnail slot="start">
          <ion-img [src]="user.imguser"></ion-img>
        </ion-thumbnail>
        <ion-label>{{ user.username }}</ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
